<div class="content-wrapper">
  <div class="container contenido">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="row form-group">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5 class="card-title">Nombre de usuario</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h6 class="card-subtitle"> debo pensar en que pondre. </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
